ordered-set
requests
alembic
blinker
chardet
Flask==0.10.1
Flask-Migrate==1.8.0
Flask-Script==2.0.5
Flask-SQLAlchemy==2.1
html5lib
inflect
itsdangerous
Jinja2==2.8
jsonschema
Mako
MarkupSafe
mistune
mysqlclient
nbconvert
nbformat
networkx==1.11
nose
path.py
pexpect
pickleshare
pika==0.10.0
ply
ptyprocess
py
py-crypto-params
pycrypto
pyen==2.3.1
Pygments
pyparsing
pytest
python-dateutil
pytz
pyzmq
scikit-learn
simplejson
slumber==0.7.1
spotipy==2.3.8
SQLAlchemy==1.0.12
traitlets
urllib3
uWSGI==2.0.12
Werkzeug==0.11.5
